Dear Professor ${author},

Thank you for sharing your scholarly articles through the open repository DSpace@MIT <http://dspace.mit.edu/handle/1721.1/49433/>, in association with the MIT Faculty Open Access Policy <http://libraries.mit.edu/oapolicy>.

Your ${articles} articles have been downloaded ${downloads} times since the last time we reported, from ${countries} different countries.

To see more detailed download information, including per-article and per-country downloads, visit oastats.mit.edu.

--From the MIT Libraries

------

Unsubscribe to this notification service. (If you remain as a subscriber, messages will be sent twice per year, once in the fall and spring terms).

Ask a question or make a comment about these statistics. (oastats@mit.edu)

Deposit a final manuscript. <http://dspace.mit.edu/handle/1721.1/49433/submit>
